<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" debug="false" shutdownHook="disable">
    <Properties>
       <!--
        <Property name="CONSOLE_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%X{driverId}] %highlight{[%p]}{ERROR=red, WARN=yellow bold, INFO=green, DEBUG=blue, TRACE=blue} %c{1} - %msg%n</Property>
        <Property name="FILE_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%X{driverId}] [%p] %c{1} - %msg%n</Property>
        -->
        <Property name="ROOT_LEVEL">${sys:log4j2.rootLevel}</Property>
        <Property name="CONSOLE_PATTERN">${sys:log4j2.consolePattern}</Property>
        <Property name="CONSOLE_LOG_LEVEL">${sys:log4j2.consoleLogLevel}</Property>
        <Property name="FILE_PATTERN">${sys:log4j2.filePattern}</Property>
        <Property name="FILE_LOG_LEVEL">${sys:log4j2.fileLogLevel}</Property>
        <Property name="LOG_DIR">${sys:log4j2.logDir}</Property>
       <!-- <Property name="LOG_FILE_NAME">${sys:log4j2.logDir}${sys:log4j2.fileName}</Property>-->
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <ThresholdFilter level="${CONSOLE_LOG_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
           <!-- <MarkerFilter marker="CONFIG_TABLE_DUMP" onMatch="DENY" onMismatch="NEUTRAL"/>-->
            <PatternLayout pattern="${CONSOLE_PATTERN}" disableAnsi="false"/>
        </Console>
        <RollingFile name="FileAppender"
                     fileName="${sys:log4j2.logDir}${sys:log4j2.fileName}"
                     filePattern="${sys:log4j2.logDir}/archive/Logs-%d{yyyy-MM-dd}-%i.log.gz"
                     createOnDemand="true">
            <ThresholdFilter level="${FILE_LOG_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${FILE_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- 1. HTTP Clients (used heavily by Selenium to talk to drivers) -->
        <Logger name="org.apache.http" level="ERROR" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Logger name="org.asynchttpclient" level="ERROR" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <!-- 2. Selenium/WebDriver Loggers -->
        <Logger name="org.openqa.selenium" level="ERROR" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <!-- 3. TestNG Framework Loggers -->
        <Logger name="org.testng" level="ERROR" additivity="false">
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <!-- 4. Other Common Dependencies (Maven/Jetty/etc.) -->
        <Logger name="io.netty" level="OFF" additivity="false"/>
        <Logger name="org.eclipse.jetty" level="OFF" additivity="false"/>
        <!--<Root level="info">-->
        <Root level="${ROOT_LEVEL}">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>
